<% for article in articles[0..10] %>
<div class="hentry"> 
  <h2 class="entry-title"> 
    <a href="<%= article.path %>" title="<%= article.title %>"><%= article.title %></a> 
  </h2> 
  <div class="vcard"> 
  Posted by <span class="fn">sudothinker</span> on <%= article.date %>
</div> 
<abbr class="published" title="<%= article.date %>"></abbr> 
<br class="clear" /> 
  <div class="entry-content"> 
    <%= article.body %>  
  </div> 
</div>
<% end %>