<h2 id="photography">Photography</h2>

<div id="gallery">
    <ul>
        <li>
            <a href="http://farm5.static.flickr.com/4059/4534205138_96a9605e71_b.jpg" title="Coffee">
                <img src="http://farm5.static.flickr.com/4059/4534205138_96a9605e71_m.jpg" width="240" height="160" alt="" />
            </a>
        </li>
    </ul>
</div>